body{
    margin: 0;
    background-color: rgba(251, 246, 239, 0.984);
}

/* 1er bloc */

.banner{
background-image:url("images/NOKA_MATCHA_BANNER.jpeg") ;
color: whitesmoke;
text-align: center;
padding: 100px 0;
background-position: center;
background-size: cover;
box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.banner h1{
font-size: 64px;
font-weight: 900;
font-family: "Poppins",serif;
}

.banner p {
    font-size: 25px;
    margin-bottom: 50px;
    font-family: "Poppins",sans-serif;
}

.btn-pink{
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    background-color: rgb(247, 224, 224);
    padding: 15px 25px;
    color :rgb(255, 0, 0);
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
    transition: all 0.5s ease-out;
}

.btn-pink:hover {
    background-color: rgb(255, 0, 0);
    color:rgb(247, 224, 224) ;
}
a:hover{
    cursor: pointer;
}
        
/* 2ème bloc */

.container{
    margin: 40px 0;
    width: 100%;
}
.container h2 {
    font-family: "Poppins",serif;
    font size: 20px;
    text-align :center;
}
.card-green{
    background-color: rgba(207, 223, 214, 0.608);
    box-shadow: 0 10px 20 px rgba(215, 94, 94, 0.646);
    padding: 20px;
    border-radius: 4px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    padding-bottom: 40px;
}

.card-green p{
    margin : 40px;
}
.card-green:hover{
    transform:scale(1.05)
}

.card-green img{
    border-radius: 4px;
    width: 100%;
    height: 375px;
    object-fit: cover;
    cursor: pointer;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid gap: 16px;
}

.card-green p{
    font-family: "Poppins",serif;
    font size: 20px;
    text-align :center;
}

.card-green h3{
    font-family: "Raleway",serif;
    font size: 30px;
    text-align :center;
}

.btn-green{
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    background-color:  #1C3E2F;
    padding: 15px 25px;
    color :floralwhite;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
}

.btn-green:hover{
    background-color: rgb(188, 225, 197);
}
/* 3ème bloc */

.benefit-cards{
    background-color: rgb(51, 101, 65);
}

.benefit-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.benefit-cards  img {
    width: 125px;
    object-fit: cover;
    margin: 40px;
}
/* 4ème bloc */
.story-card{
    background-color: #f1eee8;
    font-family: "Poppins",serif;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
    margin: 0px;
}

.story-card h2 {
    margin: 10px;
}

.story-card p {
    font-family: "Raleway",serif;
    font-size: 15px;
    margin : 15px;
}

.story-card iframe {
    margin: 0 40px;
}


/* 5ème bloc */

.insta-cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.insta-cards  img {
    width: 100%;
    object-fit: cover;
}

.insta-cards  img:hover {
    cursor: pointer;
}

/* 5ème bloc */

.footer{
    background-color: #f9c6a1;
    font-family: "Poppins",serif;
    font-size: 24px;
    text-align: center;
    padding: 40px 0
}

.btn-social{
    transition: .5s;
    cursor: pointer;
    width: 100%;
    object-fit: cover;
}


#btn-insta:hover,#btn-tiktok:hover {
    transform: scale(1.2);
}

#btn-insta {
    width: 40px;
    height: 40px;
    transition: transform .5s ease;
}

#btn-tiktok {
    width: 41px;
    height: 41px;
    transition: transform .5s ease;
}